/* You can add global styles to this file, and also import other style files */

html, body
{
  height: 100%;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.ems-snackbar-success
{
  background-color: #69f0ae !important;
}

.ems-snackbar-fail
{
  background-color: #d24c79 !important;
}
